<!-- <div class="col-xs-offset-1"> -->
    <br>
   <div style="margin-left: 3%;">
       <div class="row">
    <div class="col-xs-12">
        <app-store *ngFor="let i of storeitem;let j = index" [storename]="i" [index]="j"></app-store>
    </div>
</div>
   </div> 

<!-- 
<br>
<h2>General Stores</h2>
<div class="row" >
    <div style="margin: 20px;" *ngFor='let i of [1,2,3,4,5,6,7];let j = index'>
        <div class="card" style="width: 18rem;padding: 5px;" *ngIf="j<=3 || show" >
            <img src="./../../../assets/resturant.jpg" class="card-img-top" class="img-rounded" alt="Image">
            <div class="card-body">
                <h5 class="card-title">Raman Kiryana Store </h5>
                <p class="card-text"><small>Mansa-151505</small><span style="background-color: green;margin-left: 28%;">Ratings:4.4</span></p>
                
            </div>
        </div>
    </div>
</div>
<a style="margin-left: 93%;cursor:pointer" (click)="showall()">{{show ?'Show less':'Show more'}}</a>
<h2>Medicine Stores</h2>
<div class="row">
    <div style="margin: auto;" *ngFor='let i of [1,2,3,4]'>
        <div class="card" style="width: 18rem;padding: 5px;">
            <img src="./../../../assets/resturant.jpg" class="card-img-top" class="img-rounded" alt="Image">
            <div class="card-body">
                <h5 class="card-title">Raman Kiryana Store</h5>
                <p class="card-text"><small>Mansa-151505</small><span style="background-color: green;margin-left: 28%;">Ratings:4.4</span></p>
                
            </div>
        </div>
    </div>
</div>
<a style="margin-left: 93%" href="">show all</a>
<h2>Cosmetic Stores</h2>
<div class="row">
    <div style="margin: auto;" *ngFor='let i of [1,2,3,4]'>
        <div class="card" style="width: 18rem;padding: 5px;">
            <img src="./../../../assets/resturant.jpg" class="card-img-top" class="img-rounded" alt="Image" >
            <div class="card-body">
                <h5 class="card-title">Raman Kiryana Store</h5>
                <p class="card-text"><small>Mansa-151505</small><span style="background-color: green;margin-left: 28%;">Ratings:4.4</span></p>
                
            </div>
        </div>
    </div>
</div>
<a style="margin-left: 93%" href="">show all</a>
<h2>Stationary Stores</h2>
<div class="row">
    <div style="margin: auto;" *ngFor='let i of [1,2,3,4]'>
        <div class="card" style="width: 18rem;padding: 5px;">
            <img src="./../../../assets/resturant.jpg" class="card-img-top" class="img-rounded" alt="Image">
            <div class="card-body">
                <h5 class="card-title">Raman Kiryana Store</h5>
                <p class="card-text"><small>Mansa-151505</small><span style="background-color: green;margin-left: 28%;">Ratings:4.4</span></p>
                
            </div>
        </div>
    </div>
</div>
<a style="margin-left: 93%" href="">show all</a>
<h2>Dairy Stores</h2>
<div class="row">
    <div style="margin: auto;" *ngFor='let i of [1,2,3,4]'>
        <div class="card" style="width: 18rem;padding: 5px;">
            <img src="./../../../assets/resturant.jpg" class="card-img-top" class="img-rounded" alt="Image">
            <div class="card-body">
                <h5 class="card-title">Raman Kiryana Store</h5>
                <p class="card-text"><small>Mansa-151505</small><span style="background-color: green;margin-left: 28%;">Ratings:4.4</span></p>
                
            </div>
        </div>
    </div>
</div>
<a style="margin-left: 93%" href="">show all</a>
 </div> -->
