
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
       <header class="card-header">
         <a href="" class="float-right btn btn-outline-primary mt-1">Refresh</a>
         <h4 class="card-title mt-2">Register Delivery Boy</h4>
       </header>
       <article class="card-body">
              <form>
                <div class="form-row">
                  <div class="col form-group">
                    <label for ="firstName">First Name</label>
                    <input type="text" id ="firstname" class="form-control"  
                    name="lastname"
                    />
                  </div> <!-- form-group end.// -->
                  <div class="col form-group">
                    <label for ="lastName">Last Name</label>
                    <input type="text" id ="Lastname" class="form-control"  
                    name="lastname"
                    />
                  </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->
                <div class="form-group">
                  <label for ="email">E-Mail</label>
                  <input type="email" id ="email" class="form-control"
                  name="email"
                   />
                  <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div> <!-- form-group end.// -->
                <div class="form-group">
                  <label for ="dob">DOB</label>
                  <input type="date" id ="dob" class="form-control"  
                  name="dob"
                  />
                </div>
                <div class="form-group">
                  <label for ="mobile">Mobile No.</label>
                  <input type="number" id ="mobile" class="form-control"  
                  name="mobile"
                  />
            
                </div> <!-- form-group end.// -->
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for ="pincode">Pincode</label>
                    <input type="number" id ="pincode" class="form-control"  
                    name="pincode"
                    />
                    <small class="form-text text-muted">Working location</small>
                  </div> <!-- form-group end.// -->
                  <div class="form-group col-md-6">
                    <label>Country</label>
                    <select id="inputState" class="form-control">
                      <option> Choose...</option>
                        <option>Uzbekistan</option>
                        <option>Russia</option>
                        <option selected="">United States</option>
                        <option>India</option>
                        <option>Afganistan</option>
                    </select>
                  </div> <!-- form-group end.// -->
                </div> <!-- form-row.// -->
                <div class="form-row">
                  <div class="col form-group">
                    <label for ="licence">Licence No.</label>
                    <input type="number" id ="licence" class="form-control"  
                    name="licence"
                    />
                  </div> <!-- form-group end.// -->
                  <div class="col form-group">
                    <label for ="adhar">Adhar No.</label>
                    <input type="number" id ="adhar" class="form-control"  
                    name="adhar"
                    />
                  </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->
                <div class="form-group">
                  <label for ="password">Password</label>
                  <input type="password" id ="password" class="form-control"  
                  name="password"
                  />
                </div>
                 <!-- form-group end.// -->  
                 <div class="form-group">
                  <label for ="repassword">Re-Password</label>
                  <input type="repassword" id ="repassword" class="form-control"  
                  name="repassword"
                  />
                </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block"> Send A Request</button>
                  </div> <!-- form-group// -->      
                  <small class="text-muted">By clicking this button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                          
              </form>
       </article> <!-- card-body end .// -->
       <div class="border-top card-body text-center">Have an account? <a href="">Log In</a></div>
      </div> <!-- card.// -->
    </div> <!-- col.//-->
  </div> <!-- row.//-->
</div> 
<!--container end.//-->


<br>



