
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
       <header class="card-header">
         <a href="" class="float-right btn btn-outline-primary mt-1">Refresh</a>
         <h4 class="card-title mt-2">Register User</h4>
       </header>
       <article class="card-body">
              <form #f="ngForm" (ngSubmit)="Registeruser(f)">
                <div class="form-row">
                  <div class="col form-group">
                    <label for ="firstName" >First Name*</label>
                    <input type="text" id ="firstname" class="form-control"  
                    name="firstname" #firstRef="ngModel" ngModel
                    />
                  </div> <!-- form-group end.// -->
                  <div class="col form-group">
                    <label for ="lastName">Last Name</label>
                    <input type="text" id ="Lastname" class="form-control"   #lastRef="ngModel" ngModel
                    name="lastname"
                    />
                  </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->
                <div class="form-group">
                    <label for="email">E-Mail*</label>
                    <input type="email" id="email" class="form-control" #emailRef="ngModel" ngModel name="email" required pattern="^[\w-\.]+@([\w]+\.)+[\w-]{2,4}$">
                    <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)" style="color: red;" >
                        <div [hidden]="!emailRef.errors.required">Email Id is required</div>
                        <div [hidden]="!emailRef.errors.pattern">Email Id is not in proper format </div>
                    </div>
                  <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div> <!-- form-group end.// -->
                <div class="form-group">
                    <label for="dob">DOB*</label>
                    <input type="date" id="dob"  class="form-control" #dobRef="ngModel" ngModel  name="dob" required >
                    <div *ngIf="dobRef.errors && (dobRef.dirty || dobRef.touched)" style="color: red;" >
                        <div [hidden]="!dobRef.errors.required">Dob is required</div>
                  
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobilenumber">Mobile number*</label>
                        <input type="text" id="mobilenumber" class="form-control" #mobilenumberRef="ngModel" ngModel  name="mobilenumber" required pattern="[0-9]{10}">
                        <div *ngIf="mobilenumberRef.errors && (mobilenumberRef.dirty || mobilenumberRef.touched)" style="color: red;">
                            <div [hidden]="!mobilenumberRef.errors.required">Mobile number is required</div>
                            <div [hidden]="!mobilenumberRef.errors.pattern">Mobile number is not in proper format(does not start with 0 or +91) </div>
                        </div>
            
                </div> <!-- form-group end.// -->
                <div class="form-group">
                    <label for="name">User Name*</label>
                    <input type="text" id="name" class="form-control" #nameRef="ngModel" ngModel  name="name" required>
                    <div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)" style="color: red;">
                        <div [hidden]="!nameRef.errors.required">User Name is required</div>
                       
                    </div>
                    </div>
             
                <div class="form-group">
                    <label for="password">Password*</label>
                      <input type="password" id="password" class="form-control" #passwordRef="ngModel" ngModel  name="password" required minlength="8">
                        <div *ngIf="passwordRef.errors && (passwordRef.dirty || passwordRef.touched)" style="color: red;">
                          <div [hidden]="!passwordRef.errors.required">password is required</div>
                        <div [hidden]="!passwordRef.errors.minlength">password is of shorter length  </div>
            </div>
                </div>
                 <!-- form-group end.// -->  
                 <div class="form-group">
                    <label for="retype pasword">Retype Password*</label>
                    <input type="password" id="retypepassword" class="form-control" #retypepasswordRef="ngModel" ngModel  name="retypepassword" required minlength="6">
                    <div *ngIf="passwordRef.value!=retypepasswordRef.value  && (retypepasswordRef.dirty || retypepasswordRef.touched)" style="color: red;" >
                       Password does not match
                    </div>
                </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block"> Send A Request</button>
                  </div> <!-- form-group// -->      
                  <small class="text-muted">By clicking this button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                          
              </form>
       </article> <!-- card-body end .// -->
       <div class="border-top card-body text-center">Have an account? <a href="">Log In</a></div>
      </div> <!-- card.// -->
    </div> <!-- col.//-->
  </div> <!-- row.//-->
</div> 
<!--container end.//-->


<br>



<!-- 

<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">   
        <div >
            <h1 style="text-align-last: center;">Register User</h1>
          </div>
        <form  #form1="ngForm">
         <div class="form-group" >
            <div class="col">
            <label for="email">E-Mail*</label>
            <input type="email" id="email" class="form-control" #emailRef="ngModel" ngModel name="email" required pattern="^[\w-\.]+@([\w]+\.)+[\w-]{2,4}$">
            <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)" style="color: red;" >
                <div [hidden]="!emailRef.errors.required">Email Id is required</div>
                <div [hidden]="!emailRef.errors.pattern">Email Id is not in proper format </div>
            </div>
        </div>
        <br>
            <div class="col">
            <label for="password">Password*</label>
            <input type="password" id="password" class="form-control" #passwordRef="ngModel" ngModel  name="password" required minlength="6">
            <div *ngIf="passwordRef.errors && (passwordRef.dirty || passwordRef.touched)" style="color: red;">
                <div [hidden]="!passwordRef.errors.required">password is required</div>
                <div [hidden]="!passwordRef.errors.minlength">password is of shorter length  </div>
            </div>
            </div>
            <br>
            <div class="col">
                <label for="retype pasword">Retype Password*</label>
                <input type="password" id="retypepassword" class="form-control" #retypepasswordRef="ngModel" ngModel  name="retypepassword" required minlength="6">
                <div *ngIf="passwordRef.value!=retypepasswordRef.value  && (retypepasswordRef.dirty || retypepasswordRef.touched)" style="color: red;" >
                   Password does not match
                </div>
                </div>
               <br>
                <div class="col">
                    <label for="name">User Name*</label>
                    <input type="text" id="name" class="form-control" #nameRef="ngModel" ngModel  name="name" required>
                    <div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)" style="color: red;">
                        <div [hidden]="!nameRef.errors.required">User Name is required</div>
                       
                    </div>
                    </div>

                  <br>
                    <div class="col">
                        <label for="mobilenumber">Mobile number*</label>
                        <input type="text" id="mobilenumber" class="form-control" #mobilenumberRef="ngModel" ngModel  name="mobilenumber" required pattern="[0-9]{10}">
                        <div *ngIf="mobilenumberRef.errors && (mobilenumberRef.dirty || mobilenumberRef.touched)" style="color: red;">
                            <div [hidden]="!mobilenumberRef.errors.required">Mobile number is required</div>
                            <div [hidden]="!mobilenumberRef.errors.pattern">Mobile number is not in proper format(does not start with 0 or +91) </div>
                        </div>
                        </div>
                        <br>
                        <div class="col">
                            <label for="dob">DOB*</label>
                            <input type="date" id="dob"  class="form-control" #dobRef="ngModel" ngModel  name="dob" required >
                            <div *ngIf="dobRef.errors && (dobRef.dirty || dobRef.touched)" style="color: red;" >
                                <div [hidden]="!dobRef.errors.required">Dob is required</div>
                          
                            </div>
                            </div>
        </div>
      <br>
        <div>
            <button class="btn btn-primary" style="float: left;;" type="button" routerLink="" >Back</button>
            <button class="btn btn-primary" style="float:right;" type="submit" [disabled]="!form1.valid">Sign Up</button>
        </div>
    </form>
    </div>
</div> -->
